body{
    background-color: rgb(185, 223, 255);
}
table td{
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    text-align: center;
}
.tablaProductos tr{
    display: block; 
    float: left; 
}
.tablaProductos th, td{
    display: block;
}
.tablaProductos tr>*:not(:first-child) { 
    border-top: 10; 
}
.tablaProductos tr:not(:first-child)>* { 
    border-left:10; 
}
.tablaTiendas tr{
    display: flex;  
}
.tablaTiendas th, td{
    display: block;
}
.tablaTiendas tr>*:first-child { 
    border-top: 10; 
}
.tablaTiendas tr:first-child>* { 
    border-left:10; 
}
nav a:hover{
    color: black;
    text-decoration: none;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
#msjInformativo{
    color: red;
    font-size: 20px;
}


/* FORMULARIOS */

#seleccionTiendas{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#seleccionCategorias{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.botFormPrincipal{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid black;
    background: royalblue;
    cursor: pointer;
    margin-top: 10px;
    color: white;
}

.tablaCatalogo{
    width: 90%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#formProductosAnadir{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#formProductosAnadir input {
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
}

/* BOTÓN */
.botForm {
    padding: 0.8em 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid black;
    background: royalblue;
    cursor: pointer;
    color: white;
}

.formCategoria{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#selectProductos{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#divCategoria{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#divCategoria input {
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
}

#selectCategorias{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.formTienda{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.formTienda input{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
}

#divTienda{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#divTienda input {
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
}

#selectTiendas{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#formStock{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.formStock input{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
}

#divStock{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#divStock input{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    display: grid;
}

/* DWEC07 */
#navSecundario{
    float: right;
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: royalblue;
}
#botDesconectar{
    padding: 10px;
    float: right;
    border: 1px solid black;
    background: rgb(225, 81, 65);
    cursor: pointer;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
#msjInformativoUser{
    color: red;
    font-size: 20px;
}
